body {
	font-family: Verdana, Arial, sans-serif;
	color: #222;
}

h1 {
	color: #444;
}

div.container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100%;
	background-color: #eee;
	padding-left: 5px;
	padding-right: 5px;
}

div#trackr-container {

}

#trackr {
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: lightblue;
	border: 1px solid darkblue;
}

div.clear {
	clear: both;
}

div.col-3.col {
	box-sizing: border-box;
	width: 33.33%;
	float: left;
}

div.col-2.col {
	box-sizing: border-box;
	width: 49.9%;
	float: left;
}

div.col-1 {
	width: 100%;
	padding: none;
}

div.col {
	background-color: #e8e8e8;
	padding: 15px;
}

span.flash {
	background-color: red;
}
